<h3 style="text-align: center"> Program </h3>
<% if @programs.present? %>
  <% @programs.each do |program| %>
    <%=link_to "#{program.name}", program_path(program) %>
  <%end%>
<% else %>
  <h4 style="color: red;"> Record not found</h4>
<% end %>
