
<h1 style="text-align: center;"><%= @program.name %></h1>
<%= link_to "Edit", edit_program_path(@program) %>
<%= button_to "Destroy", "/programs/#{@program.id}", method: :delete %>
<%= video_tag url_for(@program.video), controls: true %>



