<h2 style="text-align: center; color: green">Courses</h2>

<% if @programs.empty? %>
  <%= "there is no courses available" %>
<% else %>
  <% @programs.each do |program| %>
    <%= program.name %>
    <%= button_to "Enroll","/new/#{program.id}", method: :get %>
  <% end %>
<% end %>
